html,body{
    margin: 0 auto;
    background-color: #E5E5E5;
}
.container{
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
}

.navbar{
    background-color: #2A2B21;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.jumbotron.jumbotron-fluid{
    width: 100%;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, 0.863) ;
    background-image: url('public/images/jumbotorn.png');
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    margin: 10 auto;
}
.card-item1{
    display: flex;
    flex-direction: column;
    box-shadow: #2A2B21;
    border-radius: 0px;
    background-color:#e0e0e0;
    text-align: center;
    width: 140px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-right: 20px;
}

.button{
    background-color: #E7E7E7;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    color: #8A8A8A;
}

.btn-favorite {
    color: #2A2B21;
    border: 1px solid #2A2B21;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: none;
    float:right;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #2A2B21;
    margin-top: 12px;
    border-radius: 0px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-bottom: 10px;
}


.google-btn {
    width: 184px;
    height: 42px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: black;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-btn:active {
    background: #1669F2;
  }



  .switch {
    position: relative;
    display: inline-block;
    width: 57px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#F3F3F3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 0%;
    right: 47.37%;
    bottom: 0%;
    background-image: url('public/images/Group\ 7.svg');
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #F3F3F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #F3F3F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url('public/images/Group\ 18.svg');
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.box-filter{
    width: 350px;
    height: 450px;
    background-color:#e0e0e0;
}

.box-container {
  margin: 50px 20px;
  padding: 0px;
  /* padding-bottom: 100px; */
  float: left;
}



input {
  background-color: blue;
  position: relative;
}

.vertical-list {}

li {
  list-style: none;
}

.horizontal-list {
  display: inline;
}

.t-header-container .t-header-rig .topbar-login {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-size: 100% 100%;
    cursor: pointer;
    -webkit-transition: border-color 0.25s;
    transition: border-color 0.25s;
}

  /* responsive */
  @media (min-width: 1200px) {
      
   }

   .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #393B2D;
    background-clip: padding-box;
    border: 1px solid #707070;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.t-footer {
    margin-top: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-color: #121212;
}

.t-footer-content .blk_1 .footer-logo-txt {
    width: 100%;
    text-align: center;
    height: 20px;
    margin-top: 14px;
    font-size: 12px;
    color: #7a8599;
}
.t-footer-content {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    padding: 30px 0;
    line-height: 20px;
    overflow: hidden;
}

.t-container, .t-footer-content {
    -webkit-box-sizing: border-box;
    max-width: 1200px;
}
.t-footer-content .blk_1{
    width: 100%;
}

.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: #fff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background-image: url('public/images/Group\ 7.svg');
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: #fff;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
  background-image: url('public/images/Group\ 18.svg');
  background-size: cover;
}
.dark-mode {
  background-color: #212529;
  color: white;
}

.card-text-dark{
  color:black;
}
