.cate-container {
    padding: 64px 0 24px;

}
.cate-title {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 32px;
}
.cate-list {
    padding: 8px 0 16px;
}
.cate-list, .cate-title {
    margin: 0 auto;
    width: 996px;
}
.clearfix {
    zoom: 1;
}
.cate-list .cate-list-item.active {
    color: #fff;
    border-bottom: 2px solid white;
    border-radius: 2.5px;
}

.cate-list .cate-list-item {
    float: left;
    line-height: 36px;
    margin: 8px 40px 0 0;
    border-bottom: 2px solid transparent;
    color: #7a8599;
    cursor: pointer;
    -webkit-transition: border-color .2s,color .2s;
    transition: border-color .2s,color .2s;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #2A2B21;
    margin-top: 12px;
    border-radius: 0px;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 140px;
    height: 243px;
}
}

.page-item.active .page-link {
    z-index: 3;
    color: black;
    background-color: #fff;
    /* border-color: #007bff; */
    border: 1px solid #000000;
    border-radius: 0px;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: white;
    background-color: #2A2B21;
    border-radius:0px;
    border:none;
}

.box{
    width:102px;
    height: 44px;
    color: black;
    box-sizing: border-box;
    border-radius: 2px;
    float:left;
    background:#F4F4F4;
}

.btn-remove {
    background: #C77337;
    border: 1px solid #C77337;
    box-sizing: border-box;
    border-radius: 2px;
    float: right;
    width: 183px;
    height: 44px;
    justify-content: center;
    text-align: center;
}
.dark-mode {
    background-color: #212529;
    color: white;
  }

.card-text-dark{
    color:black;
}
